<div class='container mt-5'>
  <table class='table table-dark caption-top text-color'>
    <caption class='text-info'>List of employees</caption>
    <thead class=''>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Name</th>
        <th scope='col'>Age</th>
        <th scope='col'>Level</th>
        <th scope='col'>Phone Number</th>
        <th scope='col'>Address</th>
        <th scope='col' style=''></th>
      </tr>
    </thead>
    <tbody>
      {{#each employeeList}}
        <tr>
          <th scope='row'>{{index @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.age}}</td>
          <td>{{this.pos}}</td>
          <td>{{this.phoneNumber}}</td>
          <td>{{this.address}}</td>
          <td class='text-end'>
            <a
              class='btn btn-link p-0 text-decoration-none'
              href='/employees/{{this._id}}/edit'
            >Edit</a>
            {{!-- <form class='form-delete' method='POST' action='/employees/{{this._id}}?_method=DELETE'
            style='display: inline-block;'>
            <button type='submit' class='btn btn-link p-0 text-decoration-none text-danger'>Delete</button>
          </form> --}}

            <button
              type='button'
              class='btn btn-link p-0 ms-3 text-decoration-none'
              data-bs-toggle='modal'
              data-bs-target='#exampleModal'
              data-bs-id='{{this._id}}'
              data-bs-name='{{this.name}}'
            >Delete</button>

          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='exampleModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title text-orangered' id='exampleModalLabel'>Delete Employee?</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body text-start text-dark'>
        
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <form
          class='form-delete'
          method='POST'
          
          style='display: inline-block;'
        >
          <button type='submit' class='btn btn-danger'>Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

  const exampleModal = document.getElementById('exampleModal');

  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    const id = button.getAttribute('data-bs-id');
    const name = button.getAttribute('data-bs-name');
    const form = exampleModal.querySelector('.form-delete');
    const modalBody = exampleModal.querySelector('.modal-body');

    form.action = `/employees/${id}?_method=DELETE`;
    modalBody.innerHTML = `Are you sure you want to delete ${name}`
  })
    
</script>