<div class='container mt-4'>
  <div class="trash">
    <a href="/me/manage/employees"><i class="fa-solid fa-angle-left"></i></a>
  </div>
  <table class='table table-dark caption-top text-color'>
    <caption class='text-info'>List of employees deleted</caption>
    <thead class=''>
      <tr>
        <th scope='col'>#</th>
        <th scope='col'>Name</th>
        <th scope='col'>Age</th>
        <th scope='col'>Level</th>
        <th scope='col'>Phone Number</th>
        <th scope='col'>Address</th>
        <th scope='col' style=''></th>
      </tr>
    </thead>
    <tbody>
      {{#each employeeList}}
        <tr>
          <th scope='row'>{{index @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.age}}</td>
          <td>{{this.pos}}</td>
          <td>{{this.phoneNumber}}</td>
          <td>{{this.address}}</td>
          <td class='text-end'>
            <button
              id='btn-restore'
              class='btn btn-link p-0 text-decoration-none text-info'
              data-bs-idRestore='{{this._id}}'
            >Restore</button>
            <button
              type='button'
              class='btn btn-link p-0 ms-3 text-decoration-none text-danger'
              data-bs-toggle='modal'
              data-bs-target='#exampleModal'
              data-bs-idDelete='{{this._id}}'
              data-bs-name='{{this.name}}'
            >Delete</button>

          </td>
        </tr>

        {{else}}
        <tr>
          <td class="text-center" colspan="7">
            There's no one at all. <a href="/me/manage/employees" class="text-decoration-none text-info">Back to list</a>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class='modal fade'
  id='exampleModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title text-orangered' id='exampleModalLabel'>CAN NOT RESTORE!</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body text-start text-dark'>
        
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <form
          class='form-delete'
          method='POST'
          style='display: inline-block;'
        >
          <button type='submit' class='btn btn-danger'>Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>

<form method="POST" id="force-restore" action=""></form>

<script>

  const exampleModal = document.getElementById('exampleModal');
  const formRestore = document.getElementById('force-restore');
  const btnResotre = document.querySelectorAll('#btn-restore');


  btnResotre.forEach((btn) => {
    btn.addEventListener('click', () => {
    const idRestore = btn.getAttribute('data-bs-idRestore');
    formRestore.action = `/employees/${idRestore}/restore?_method=PATCH`;
    console.log({formRestore})
    formRestore.submit();
    })
  })
  
  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    const idDelete = button.getAttribute('data-bs-idDelete');
    const name = button.getAttribute('data-bs-name');
    const form = exampleModal.querySelector('.form-delete');
    const modalBody = exampleModal.querySelector('.modal-body');

    form.action = `/employees/${idDelete}/force-delete?_method=DELETE`;
    modalBody.innerHTML = `Are you sure you want to delete ${name}`
  })
    
</script>